* {
    font-family: montserrat, sans-serif;
  }
  
  .login-container {
    height: 100vh;
    display: flex;
    justify-content: flex-end;
  }
  
  .login-box {
    padding: 2rem;
    width: 450px;
    background-color: #f5f5f5;
  }
  
  .userName--inputbox,
  .password--inputbox,
  .action--wrapperBtn,
  .block--line-log,
  .title--wrapper {
    display: flex;
    flex-direction: column;
    margin: 24px;
  }
  
  .title-main {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #be3144;
  }
  
  .login--icon {
    font-size: 34px;
  }
  
  /* reset input */
  .inputBox--form {
    padding: 9px;
    outline: none;
    border-radius: 0;
    border: none;
    margin: 0;
    background-color: transparent;
    border-bottom: #be3144 0.5px solid;
    transition: 0.5s ease;
  }
  
  .inputBox--form:active {
    border-bottom: #be3144 3px solid;
  }
  
  /* button action reset */
  .action-button {
    padding: 12px 20px 12px;
    border: #f05941 1.5px solid;
    border-radius: 4px;
    outline: none;
    width: 100%;
    transition: 0.2s ease;
  }
  
  .action-button:hover {
    padding: 12px 20px 12px;
    border: #f05941 1.5px solid;
    border-radius: 4px;
    outline: none;
    width: 100%;
    background-color: #be3144;
    color: #f5f5f5;
  }
  
  .form--wrapper {
    margin-top: 30%;
  }
  
  /* responsive breakpoint */
  @media only screen and (max-width: 600px) {
    .login-container {
      display: flex;
      justify-content: center;
      place-items: center;
    }
  
    .login-box {
      padding: 1rem;
      margin: 1.2rem;
      width: 250px;
      border-radius: 8px;
    }
  
    .login-box {
      width: 350px;
    }
    .form--wrapper {
      margin-top: 2rem;
    }
  }
  